[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
django-default-language = {editable = true,path = "."}
django = "*"

[requires]
python_version = "3.8"
